cite-background = #eee
cite-padding = 15px

cite
  background-color: cite-background
  font-size: 2em
  display: block
  border-radius: 4px
  padding-left: cite-padding
  padding-right: cite-padding
  text-align: justify
  text-justify: inter-word
  line-height: 1.8em
