<% if (site.pages.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('pages') %></h3>
	<div class="widget">
      <ul>
        <% site.pages.each(function(page){ %>
          <li>
            <a href="<%- url_for(page.path) %>"><%= page.title || '(no title)' %></a>
          </li>
        <% }) %>
      </ul>
    </div>
<% } %>
